

<ion-content >
 <ion-row>

<ion-col>
  <div class="button-wrapper">
    <div class="back-btn">
      <ion-buttons slot="start">
        <ion-back-button class="custom-back-btn" defaultHref="#" (click)="goBack()"></ion-back-button>
      </ion-buttons>
    </div>
    <div class="skip-btn">
      <div class="skip-btn">
        <p >Skip</p>
      </div>
    </div>
  </div>
  <div class="heading-content">
    <h1>Your interests</h1>
    <p>Select a few of your interests and let everyone know what you’re passionate about.</p>
  </div>

  <div class="container">
    <div
      class="interest"
      *ngFor="let interest of interests; let i = index"
      (click)="toggleInterest(i)"
      [class.selected]="selectedInterests.includes(i)"
    >
      {{ interest }}
    </div>
  </div>
  <div class="button">
    <ion-button 
      type="submit" 
      expand="block" 
      fill="clear" 
      class="custom-button" 
      (click)="logSelectedInterests()"
    >
      Confirm
    </ion-button>
  </div>
  
</ion-col>


 </ion-row>
</ion-content>
