$primary-color: #E94057;

// Global Variables
$primary-color: #E94057;
$secondary-color: #555;
$light-gray: #e3e3e3;
$text-color: #555;
$text-color-darkMode: white;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-medium: 17px;
$font-size-large: 19px;
$button-radius: 8px;
$icon-size: 30px;

// Global mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border-radius: $button-radius;
  // padding: 10px 20px;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

.login-wrapper {
  margin-left: 10%;


  .heading-text {
    margin-top: 17%;
    margin-bottom: 12%;

    h1 {
      font-weight: bold;
    }

    p {
      color: #000000;
      font-size: 13px;
      line-height: 22px;

      @media (prefers-color-scheme: dark) {
        color: white;
        // text-transform: capitalize;


      }
    }
  }

  .input-field {
    margin-top: 20px;
    border: 0.1px solid rgb(229, 228, 228);
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
  }
}


// Button Styling
.button {
  margin-top: 33px;

  .custom-button {
    margin: 0 20px;
    height: 6vh !important;
    background-color: #E94057;
    color: white;
    border-radius: 8px;

    &:hover {
      background-color: #E94057;
    }

    // Dark Mode Styling
    @media (prefers-color-scheme: dark) {
      background-color: #E94057;
      text-transform: capitalize;


    }
  }
}

.new-user {
  margin-top: 60%;
  font-size: 14px;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit; // Ensures it inherits the default color
  }
}

@media (prefers-color-scheme: dark) {
  .new-user a {
    color: #E94057; // Apply color in dark mode
  }
}


// Validation Errors
.validation-errors {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}



.toggle-password {
  position: absolute;
  // right: 10px;
  margin-left: 70%;
  margin-top: -5%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;

  .icon {
    width: 20px;
    height: 20px;
    fill: #555;
  }
}


.form-input::placeholder {
  color: gray; // Default placeholder color for light mode
  opacity: 1; // Ensure visibility across browsers
}

@media (prefers-color-scheme: dark) {
  .form-input::placeholder {
    color: white; // Placeholder color for dark mode
  }
}