$primary-color: #E94057;

// Global Variables
$primary-color: #E94057;
$secondary-color: #555;
$light-gray: #e3e3e3;
$text-color: #555;
$text-color-darkMode: white;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-medium: 17px;
$font-size-large: 19px;
$button-radius: 8px;
$icon-size: 30px;

// Global mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border-radius: $button-radius;
  // padding: 10px 20px;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

.login-wrapper {
  margin-left: 10%;


  .heading-text {
    margin-top: 17%;
    margin-bottom: 12%;

    h1 {
      font-weight: bold;
    }

    p {
      color: #000000;
      font-size: 13px;
    }
  }

  .input-field {
    margin-top: 20px;
    border: 0.1px solid rgb(229, 228, 228);
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
  }
}

.button {
  margin-top: 15%;

  .custom-button {
    margin: 10px 20px;
    @include button-style($primary-color, white);
  }
}

.new-user {
  margin-top: 60%;
  font-size: 14px;
  text-align: center;
  a{
    text-decoration: none;
  }

}
// Validation Errors
.validation-errors {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}



.toggle-password {
  position: absolute;
  right: 10px;
  margin-top: -5%;
  transform: translateY(-50%);
  cursor: pointer;

  .icon {
      width: 20px;
      height: 20px;
      fill: #555;
  }
}