<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
     <img src="/assets/images/tabs/home.png" alt="">
    </ion-tab-button>
    
    <ion-tab-button tab="radio">
      <img src="/assets/images/tabs/indicator.png" alt="">
   
    </ion-tab-button>

    <ion-tab-button tab="library">
      <img src="/assets/images/tabs/inactive.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="search">
      <img src="/assets/images/tabs/person.png" alt="">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
