<ion-content>
  <ion-row>
    <ion-col>
      <div class="logo-image">
        <ion-img src="assets/images/logo.png"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>

    <ion-col class="container-wrapper">
      <div class="text">
        <h4>Sign up to continue</h4>
      </div>
      <div class="button">
        <ion-button expand="block" fill="clear" class="custom-button">Continue with email</ion-button>
      </div>
      <div class="phone-number">
        <h5>Use phone number</h5>
      </div>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="continue-with">
        <div class="left">
          <hr />
        </div>
        <div class="signup-with">or sign up with</div>
        <div class="right">
          <hr />
        </div>
      </div>
      <div class="signup-icons">
        <div class="icons">
          <ion-img src="assets/images/Icon.png" alt="Facebook Image"></ion-img>
        </div>
        <div class="icons">
          <ion-img src="assets/images/google.png" alt="Google Image"></ion-img>
        </div>
        <div class="icons">
          <ion-img src="assets/images/apple.png" alt="Apple Image"></ion-img>
        </div>
      </div>
      <div class="last-wrapper">
        <div class="text">
          <p>Terms of use</p>
        </div>
        <div class="text">
          <p>Privacy Policy</p>
        </div>
      </div>
    </ion-col>
  
  </ion-row>

</ion-content>