<ion-content [fullscreen]="true">
  <app-loader *ngIf="isLoading"></app-loader> <!-- Loader Component -->

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col>
        <div class="main-heading">
          <div class="heading">
            <h3>Set Your Password</h3>
          </div>
          <div class="text">
            <p>Please enter a strong password to secure your account.</p>
          </div>
        </div>

        <div class="input-field">
          <div class="input-wrapper">

            <input  [type]="isPasswordVisible ? 'text' : 'password'" class="mobile-number-input" placeholder="Enter your password"
              formControlName="password" />
              <span class="toggle-password" (click)="togglePasswordVisibility()">
                <svg *ngIf="!isPasswordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                  <path d="M12 4.5C7.25 4.5 3.03 7.61 1.46 12c1.57 4.39 5.79 7.5 10.54 7.5s8.97-3.11 10.54-7.5c-1.57-4.39-5.79-7.5-10.54-7.5zm0 12c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8.5c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5 3.5-1.57 3.5-3.5-1.57-3.5-3.5-3.5z" />
                </svg>
                <svg *ngIf="isPasswordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                  <path d="M12 6c4.05 0 7.75 2.35 9.46 6-1.13 2.82-3.72 5.03-6.92 5.68l-1.64-1.64c.7-.41 1.28-.95 1.76-1.56 1.17-.51 2.22-1.27 3.05-2.23C17.8 8.74 14.85 7 12 7c-2.76 0-5.22 1.57-6.54 3.97-.63-.89-1.37-1.72-2.22-2.5C5.2 8.74 8.15 7 12 7c.36 0 .7.02 1.06.06L12.72 6H12zm-8.95.68C6.25 5.64 9.02 4.5 12 4.5c2.44 0 4.73.82 6.59 2.2L15.5 10.3c-.64-.5-1.37-.92-2.22-1.24C12.97 8.4 12.5 8.3 12 8.3c-2.76 0-5 2.24-5 5 0 .53.1 1.03.26 1.5L2.68 17.18l-.62.62 2.22-2.23C2.65 14.25 1.57 13.18 0 12c1.13-2.82 3.72-5.03 6.92-5.68l1.64 1.64C7.84 8.15 7.27 8.69 6.79 9.3c-1.17.51-2.22 1.27-3.05 2.23-1.17-1.36-2.22-2.66-3.05-4.35 1.13-1.6 2.67-3.03 4.49-4.21z" />
                </svg>
              </span>
          </div>
        </div>

        @if(passwordForm.invalid && (passwordForm.dirty || passwordForm.touched)){
        <div class="validation-errors">
          @if(passwordForm.get('password')?.hasError('required')){

          <div>
            Password is required
          </div>
          }
          @if(passwordForm.get('password')?.hasError('pattern')){

          <div>
            Password must be at least 8 characters long.
          </div>
          }
        </div>
        }
        <div class="button">
          <ion-button expand="block" fill="clear" class="custom-button" type="submit"
            [disabled]="passwordForm.invalid">Submit </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
