  <ion-buttons slot="start">
    <ion-back-button class="custom-back-btn" defaultHref="#" (click)="goBack()"></ion-back-button>
  </ion-buttons>


<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <div class="verify-time-wrapper">
        <div class="timer">
          <p>{{ timer }}</p>
        </div>
        <div class="content">
          <p>Type the verification code we’ve sent you</p>
        </div>
        <div [formGroup]="otpForm" class="otp-container">
          <div formArrayName="otp">
            <input *ngFor="let control of otpControls.controls; let i = index" type="text" maxlength="1" [formControlName]="i"
              (input)="onInput($event, i)" (keydown.backspace)="onBackspace($event, i)" [class.filled]="control.value"
              class="otp-input" />
          </div>
        </div>
        
    
       <div class="button">
        <ion-button expand="block" fill="clear" class="custom-button" type="submit"
        [disabled]="!otpForm.valid" (click)="verifyOtp()">Verify otp</ion-button>
      </div>
        <p><a href="#" class="resend">Resend OTP</a></p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
