// Global Styles
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  max-width: 1000px;

  // Dark Mode Styles
  @media (prefers-color-scheme: dark) {
    background: #333;
    color: #fff;
  }
}

.container {
  margin-top: 20px;
}

// Swiper Container and Slides
.swiper-container {
  width: 100%;
  height: 200px;
  margin-top: 30%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 60%;
  transform: scale(0.85);

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;

  // Dark Mode Styling
  @media (prefers-color-scheme: dark) {
    background: #444;
    color: #fff;
  }
}

.swiper-slide-active {
  transform: scale(0.9);
}

// Text below the Swiper
.slide-text {
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 17%;

  h1 {
    color: #E94057;
    font-weight: bold;

    // Dark Mode Styling
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }

  p {
    color: #323755;
    font-size: 15px;

    // Dark Mode Styling
    @media (prefers-color-scheme: dark) {
      color: #ccc;
    }
  }
}

// Paginator styles (for the dot navigation)
.paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .dots {
    display: flex;
    gap: 10px;

    .dot {
      width: 12px;
      height: 12px;
      background-color: grey;
      border-radius: 50%;
      opacity: 0.6;
      cursor: pointer;
      transition: opacity 0.3s;

      &.active {
        background-color: #E94057;
        opacity: 1;
      }

      // Dark Mode Styling
      @media (prefers-color-scheme: dark) {
        background-color: #bbb;
        &.active {
          background-color: #E94057;
        }
      }
    }
  }
}

// Button Styling
.button {
  margin-top: 33px;

  .custom-button {
    margin: 0 20px;
    height: 6vh !important;
    background-color: #E94057;
    color: white;
    border-radius: 8px;

    &:hover {
      background-color: #E94057;
    }

    // Dark Mode Styling
    @media (prefers-color-scheme: dark) {
      background-color: #E94057;
      text-transform: capitalize;


    }
  }
}

// Already Account Text
.already-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;

  b {
    a {
      color: #E94057;
      text-decoration: none;

      // Dark Mode Styling
      @media (prefers-color-scheme: dark) {
        color: #E94057;
      }
    }
  }

  // Dark Mode Styling
  @media (prefers-color-scheme: dark) {
    color: #ccc;
  }
}
