<ion-content class="container">
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slideItems">
        <img [src]="slide.image" [alt]="slide.text" />
      </div>
    </div>
  </div>

  <!-- Text below the Swiper -->
  <div class="slide-text">

    <h1>{{slideText.heading}}</h1>
    <p>{{ slideText.text }}</p>
  </div>
  <!-- Custom Paginator -->
  <div class="paginator">
    <div class="dots">
      <span class="dot" *ngFor="let dot of slideItems; let i = index" [class.active]="i === activeSlideIndex"></span>
    </div>

  </div>

  <ion-col>
    <div class="button">
      <ion-button expand="block" fill="clear" class="custom-button" routerLink="/signup">Create an account</ion-button>
    </div>
    <div class="already-account">
      <p>Already have an account? <b><a routerLink="/login">Sign In</a></b></p>
    </div>
  </ion-col>
 
  
</ion-content>